@import "Theme";

.Form {
  @include flex;
  width: 100%;
  padding-bottom: 100px;

  h2 {
    width: 100%;
    background-color: $primary;
    color: $secondary;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
  }

  form {
    @include flex;
    width: 100%;
    max-width: 400px;
    padding: 10px;

    label {
      @include flex($ali: flex-start);
      width: 100%;

      p {
        color: $labelText;
        font-weight: bold;
        font-size: 18px;
      }

      input {
        width: 100%;
        border: 2px solid $inputBorder;
        border-radius: 5px;
        letter-spacing: 1px;
        padding: 5px;
      }
    }

    input[type="submit"] {
      width: 100%;
      background-color: $primary;
      color: $secondary;
      font-weight: bold;
      font-size: 18px;
      border: 2px solid $primary;
      border-radius: 8px;
      padding: 5px;

      &:hover {
        background-color: $primaryHover;
        border-color: $primaryHover;
      }
    }
  }

  a {
    color: $secondary;
    text-decoration: none;
    text-align: center;
  }
}

.LoadingBg {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.768);
  color: rgb(176, 238, 246);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 150px;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 50px 0;

  &::after {
    content: "";
    position: absolute;
    animation: Loading infinite 3s linear;
  }

  @keyframes Loading {
    0% {
      content: "";
    }
    25% {
      content: ".";
    }
    50% {
      content: "..";
    }
    75% {
      content: "...";
    }
    90% {
      content: "";
    }
  }
}
